<div class="lg:container lg:mx-auto h-full w-full py-16 text-slate-800 px-5 2xl:px-0">
  <div class="flex flex-col h-full">
    <div class="flex-1 bg-white shadow rounded h-full">
      <div class="flex flex-row h-full">

        <div class="basis-1/4 border-r h-full flex flex-col">
          <div class="flex flex-col border-b h-24">
            <div class="px-5 py-6 flex flex-row justify-between place-items-center h-full">
              <span class="font-bold">Messages</span>
              <div class="flex flex-row gap-3">
                <button><i class="fa-solid fa-gear"></i></button>
                <button><i class="fa-solid fa-ellipsis-vertical"></i></button>
              </div>
            </div>
          </div>
          <div class="flex flex-col overflow-y-scroll">
            <ng-container *ngFor="let item of [0,0,0,0,0,0,0,0,0,0,0,0,0]">
              <div class="flex flex-row px-5 py-3 gap-3 place-items-center hover:bg-slate-100 cursor-pointer">
                <div class="h-10 w-10 rounded-full bg-slate-300 "></div>
                <div class="flex flex-col flex-1">
                  <span class="font-bold text-sm">Username</span>
                  <span class="text-xs text-slate-400">Lorem impus dolor...</span>
                </div>
                <div class="flex flex-col place-items-end gap-1">
                  <span class=" font-thin text-slate-400 text-xs">2:00PM</span>
                  <div class=" h-4 w-4 rounded-full bg-red-500"></div>
                </div>
              </div>
            </ng-container>
          </div>

        </div>
        <div class=" flex-1 h-full relative flex flex-col">

          <div class="flex flex-col border-b bg-white h-24">
            <div class="px-5 py-6 flex flex-row justify-between place-items-center h-full">
              <div class="flex flex-row gap-3 place-items-center">
                <div class=" h-14 w-14 rounded-full bg-slate-300"></div>
                <div class="flex flex-col">
                  <span class="font-bold">Rangga Prasetyo</span>
                  <span class="text-sm text-slate-400">Online</span>
                </div>
              </div>

              <div class="flex flex-row gap-3">
                <button><i class="fa-solid fa-ellipsis-vertical"></i></button>
              </div>
            </div>
          </div>

          <div class=" basis-full flex flex-col overflow-y-auto">

            <div class="flex flex-row px-5 h-fit">
              <div class="flex flex-row px-5 py-3 gap-3 place-items-center w-1/2">
                <div class="h-10 w-10 rounded-full bg-slate-300"></div>
                <div class="flex flex-col flex-1 gap-1">
                  <div class="bg-slate-100 text-slate-800 shadow px-3 py-2 rounded-lg text-sm w-fit">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere aperiam veniam porro dignissimos ad
                    nesciunt earum cupiditate quasi explicabo nisi eius, amet quos dolores impedit possimus vel,
                    incidunt corporis animi tempora! Recusandae ipsa dolore officia esse maiores voluptas, saepe
                    blanditiis, nemo nulla exercitationem quidem sed illum fuga distinctio aliquid minus!
                  </div>
                  <span class="text-xs text-slate-400 px-3">02:00 AM</span>
                </div>
              </div>
            </div>

            <div class="flex flex-row px-5 justify-end h-fit">
              <div class="flex flex-row px-5 py-3 gap-3 place-items-center w-1/2">
                <div class="flex flex-col flex-1 gap-1 order-first">
                  <div class="bg-red-500 text-slate-100 shadow px-3 py-2 rounded-lg text-sm w-fit">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.quos dolores impedit possimus vel, incidunt
                    corporis animi tempora! Recusandae ipsa dolore officia esse maiores voluptas, saepe blanditiis, nemo
                    nulla exercitationem quidem sed illum fuga distinctio aliquid minus!
                  </div>
                  <span class="text-xs text-slate-400 px-3">02:00 AM</span>
                </div>
              </div>
            </div>

            <div class="flex flex-row px-5 h-fit">
              <div class="flex flex-row px-5 py-3 gap-3 place-items-center w-1/2">
                <div class="h-10 w-10 rounded-full bg-slate-300"></div>
                <div class="flex flex-col flex-1 gap-1">
                  <div class="bg-slate-100 text-slate-800 shadow px-3 py-2 rounded-lg text-sm w-fit">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere aperiam veniam porro dignissimos ad
                    nesciunt earum cupiditate quasi explicabo nisi eius, amet quos dolores impedit possimus vel,
                    incidunt corporis animi tempora! Recusandae ipsa dolore officia esse maiores voluptas, saepe
                    blanditiis, nemo nulla exercitationem quidem sed illum fuga distinctio aliquid minus!
                  </div>
                  <span class="text-xs text-slate-400 px-3">02:00 AM</span>
                </div>
              </div>
            </div>

            <div class="flex flex-row px-5 h-fit">
              <div class="flex flex-row px-5 py-3 gap-3 place-items-center w-1/2">
                <div class="h-10 w-10 rounded-full bg-slate-300"></div>
                <div class="flex flex-col flex-1 gap-1">
                  <div class="bg-slate-100 text-slate-800 shadow px-3 py-2 rounded-lg text-sm w-fit">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere aperiam veniam porro dignissimos ad
                    nesciunt earum cupiditate quasi explicabo nisi eius, amet quos dolores impedit possimus vel,
                    incidunt corporis animi tempora! Recusandae ipsa dolore officia esse maiores voluptas, saepe
                    blanditiis, nemo nulla exercitationem quidem sed illum fuga distinctio aliquid minus!
                  </div>
                  <span class="text-xs text-slate-400 px-3">02:00 AM</span>
                </div>
              </div>
            </div>

        </div>
        <div class="bg-slate-200 px-5 flex flex-row gap-2 py-4">
          <input type="text" class="flex-1 rounded px-3 py-2 focus:outline-none focus:ring-0" placeholder="Type a message here..">
          <button class="px-3 py-2 rounded bg-red-500 text-slate-100">Send</button>
        </div>
      </div>
    </div>
  </div>
</div>
