<div class="w-full bg-red-100 text-sm h-48 md:h-fit">
  <img src="/assets/images/resources/cover-img.jpg" alt="" class="h-full w-full">
  <button class="px-3 py-2 bg-red-500 hover:bg-red-600 rounded text-slate-100 absolute top-2 right-2">Change Image</button>
</div>
<div class="lg:container lg:mx-auto w-full h-full px-4 xlg:px-0">
 <div class="grid grid-cols-8 gap-5">
    <div class="col-span-8 md:col-span-3 lg:col-span-2 relative">
      <div class="flex flex-col gap-3 w-full">
        <div class="bg-white shadow rounded-full absolute -top-24 md:-top-20 w-1/2 left-1/2 transform -translate-x-1/2 border-white border-8 z-10">
          <img src="https://fakeimg.pl/1000x1000/?text=AP" class="rounded-full">
        </div>
        <div class="bg-white shadow rounded px-4 py-3 pt-32 md:pt-20 lg:pt-24 2xl:pt-32 -top-5 w-full md:-top-0">
          <div class="flex flex-col gap-4">
            <div class="flex flex-col gap-1">
              <span class="text-2xl font-bold mx-auto">Agung Priyatno</span>
              <span class="text-sm mx-auto">Fulltime Web Developer</span>
            </div>
            <div class="flex flex-row gap-2">
              <div class="flex-1 text-center flex flex-col">
                <span class="text-slate-500">Following</span>
                <span class="text-slate-800 font-bold">80k</span>
              </div>
              <div class="flex-1 text-center flex flex-col">
                <span class="text-slate-500">Following</span>
                <span class="text-slate-800 font-bold">80k</span>
              </div>
            </div>
            <div class="flex flex-row gap-2">
              <button class="flex-1 px-3 py-2 bg-green-500 hover:bg-green-600 rounded text-slate-100">Follow</button>
              <button class="flex-1 px-3 py-2 bg-blue-500 hover:bg-blue-600 rounded text-slate-100">Hire</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-span-8 md:col-span-5 lg:col-span-4 ">
      <div class="flex flex-col gap-5">
        <div class="flex flex-row gap-5 overflow-x-scroll py-4 px-3 md:overflow-x-hidden">
          <button class="flex flex-col text-red-500 place-items-center">
            <i class="fa-solid fa-table-list text-3xl"></i>
            <span class="font-bold text-sm">Feed</span>
          </button>
          <button class="flex flex-col text-slate-400 place-items-center">
            <i class=" text-3xl fa-solid fa-circle-info"></i>
            <span class="font-bold text-sm">Info</span>
          </button>
          <button class="flex flex-col text-slate-400 place-items-center">
            <i class=" text-3xl fa-solid fa-briefcase"></i>
            <span class="font-bold text-sm">Jobs</span>
          </button>
          <button class="flex flex-col text-slate-400 place-items-center">
            <i class=" text-3xl fa-solid fa-file-import"></i>
            <span class="font-bold text-sm">Bids</span>
          </button>
          <button class="flex flex-col text-slate-400 place-items-center">
            <i class=" text-3xl fa-solid fa-image-portrait"></i>
            <span class="font-bold text-sm">Portfolio</span>
          </button>
          <button class="flex flex-col text-slate-400 place-items-center">
            <i class=" text-3xl fa-solid fa-star"></i>
            <span class="font-bold text-sm">Reviews</span>
          </button>
          <button class="flex flex-col text-slate-400 place-items-center">
            <i class=" text-3xl fa-solid fa-wallet"></i>
            <span class="font-bold text-sm">Payment</span>
          </button>
        </div>
        <div class="flex flex-col gap-3">
          <ng-container *ngFor="let item of posts">
            <card-post [data]="item"></card-post>
          </ng-container>
        </div>

      </div>
    </div>

    <div class="col-span-8 lg:col-span-2 py-3 px-2">
      <div class="flex flex-col gap-5">
        <div class="flex justify-end gap-2">
          <button class="px-4 py-3 bg-red-500 rounded hover:bg-red-600 text-slate-100 font-bold text-sm">Setting</button>
          <button class="px-4 py-3 bg-red-500 rounded hover:bg-red-600 text-slate-100 font-bold text-sm">Message</button>
        </div>
        <card-basic title="Portolio"></card-basic>
      </div>
    </div>
 </div>
</div>
